@import '../../styles/theme-variables.scss';

.settings {
    @include themify($themes) {
        background-color: transparent;//themed('backGroundColor');
        position: fixed;
        top: 15px;
        right: 0px;
        width: 30px;
        height: 30px;
        border: 1px solid themed('settingBackground');
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
        z-index: 1500;
    }
}