@import "../../styles/theme-variables.scss";

.shelf {
  @include themify($themes) {
    border: 1px solid themed("golden");
    // height: 15%;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      box-shadow: 3px 3px themed("shadow");
      border-width: 2px;
      border-color: #198754;
    }
  }
}

.border-golden {
  @include themify($themes) {
    border-color: themed("golden") !important;
  }
}

.add-book {
  @include themify($themes) {
    border: 1px solid themed("golden");
    // height: 15%;
    border-radius: 8px;
  }
}

.relative-image {
  position: relative;
  top: -140px;
  left: 40px;
  width: 50%;
  height: 50%;
  opacity: 0.8;
  transform: skew(30deg) rotate(-30deg);
}
